<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Load Leaflet CSS library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Load custom CSS styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>{{ title }}</h1>
            <h2>{{ subtitle }}</h2>
        </div>
        <!-- Empty space -->
        <div class="spacer"></div>
        <!-- Navigation container -->
        <div class="navigation">
            <!-- Page links -->
            <div class="nav-link"><a href="/dati">Dati</a></div>
            <div class="nav-link"><a href="/vērtējums">Vērtējums</a></div>
            <div class="nav-link"><a href="/info">Info</a></div>
        </div>
        <!-- Empty space -->
        <div class="spacer"></div>
    </div>

    <!-- Map container -->
    <div id="map-container" class="map-container">
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>

    <!-- Load Leaflet JavaScript library -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- Load JawgMaps tile layer -->
    <script>
        // Create a map centered around Riga with appropriate zoom level
        var map = L.map('map'); // Initialize map without setting view

        // Add JawgMaps tile layer
        var access_token = 'l7WnYRIQY2jKnYplkIqR3KzuU2tmE7133B1M8h7B8BUGYmj4llQZr0a2nGaXEeXB';
        var jawgMapsLayer = L.tileLayer('https://tile.jawg.io/jawg-matrix/{z}/{x}/{y}{r}.png?access-token=' + access_token, {
            maxZoom: 22,
            attribution: '<a href="https://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Add markers to the map using latitude, longitude, and names data
        try {
            var latitudeData = {{ latitude | tojson | safe }};
            var longitudeData = {{ longitude | tojson | safe }};
            var namesData = {{ names | tojson | safe }};
            var priceData = {{ price | tojson | safe }};

            // Check if latitude, longitude, and names data are arrays
            if (Array.isArray(latitudeData) && Array.isArray(longitudeData) && Array.isArray(namesData) && Array.isArray(priceData)) {
                // Check if all arrays have the same length
                if (latitudeData.length === longitudeData.length && latitudeData.length === namesData.length && latitudeData.length === priceData.length) {
                    var markers = [];
                    for (var i = 0; i < latitudeData.length; i++) {
                        var latitude = parseFloat(latitudeData[i]);
                        var longitude = parseFloat(longitudeData[i]);
                        var name = namesData[i];
                        var price = priceData[i];

                        // Check if latitude, longitude, name, and price are valid
                        if (!isNaN(latitude) && !isNaN(longitude) && name && !isNaN(price)) {
                            var marker = L.marker([latitude, longitude]).bindPopup('<b>' + name + '</b><br>Price: ' + price + ' EUR');
                            markers.push(marker);
                        } else {
                            console.error('Invalid data at index', i);
                        }
                    }
                    // Add all markers to a feature group
                    var markerGroup = L.featureGroup(markers);
                    // Add the feature group to the map
                    markerGroup.addTo(map);
                    // Fit the map to the bounds of the markers
                    map.fitBounds(markerGroup.getBounds());
                } else {
                    console.error('Latitude, longitude, names, and price data must be arrays of the same length');
                }
            } else {
                console.error('Latitude, longitude, names, and price data must be arrays');
            }
        } catch (error) {
            console.error('An error occurred while adding markers:', error);
        }
    </script>
</body>
</html>
